ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
network={
    ssid="CYCLONE"
    psk="testonly"
    id_str="CYCLONE"
}
network={
    ssid="TYPHOON"
    psk="*$upport!*"
    id_str="TYPHOON"
}
